* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  height: 100%;
}

@font-face {
  font-family: "Elizabeta Modern";
  src: local("Elizabeta Modern"),
  url("../public/fonts/Elizabeta Modern/Elizabeta Modern.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Soyuz Grotesk";
  src: local("Soyuz Grotesk"),
  url("../public/fonts/Soyuz Grotesk/SoyuzGroteskBold.ttf") format("truetype");
  font-weight: normal;
}

.background_main {
  background-image: url("../public/img/background_main.png");
  background-size: 100% 100%;
  opacity: 0.15;
  z-index: -1;
}

.background_estate {
  background-image: url("../public/img/background_estate.png");
  background-size: 100% 100%;
  z-index: -1;
}

.app-container {
  padding: 30px;
  height: 100vh;
  z-index: 1;
}

.header {
  font-family: "Elizabeta Modern", serif;
  color: #83C246;
  font-size: 40px;
}

.estate_header {
  font-family: "Elizabeta Modern", serif;
  color: #83C246;
  font-size: 30px;
}

.footer {
  font-family: "Elizabeta Modern", serif;
  color: #83C246;
  font-size: 20px;
  text-align: center;
}

.button {
  height: 100%;
}

.bg_button {

}

.button-text {
  font-family: "Soyuz Grotesk", serif;
  font-size: 20px;
  left: 5px;
  bottom: 5px;
  width: 40%;
}

.home-btn {
  background-color: #83C246;
}